<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
    <center>
        <a href="/questions">Questions</a>
        <a href="/signup">Sign Up</a>
        <a href="/aboutme">About me</a>
        <form action="" method="post">
            <label>Log In Name:</label>
            <input type="text" name="username"><br/>
            <label>Pass Word: </label>
            <input type="password" name="username"><br/>
            <input type="submit" value="Submit">
        </form>
        <a href="/signup">Have not a account? Click here</a>
    </center>
</body>
</html>