<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <center>
        <form action="/submitCode" method="post">
            <textarea name="code" rows="35" cols="40"></textarea></br>
            <input type="radio" name="type" value="cpp" checked="true">C++
            <input type="radio" name="type" value="c">C
            <input type="radio" name="type" value="Java">Java
            <input type="radio" name="type" value="python">Python
            <input type="submit" value="Submit"></br>
        </form>
    </center>
</body>
</html>